/* body {
  font-family: "Pokemon";
} */

#title{
  text-align: center;
  text-decoration: none;
  font-size: 32px;
}


/* Team Builder */
.teamBuilder{
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.teamBuilder h3 {
  text-align: center;
  margin: 0px;
  font-size: large;
}
.teamForm {
  max-width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background: #eeeeee;
}
.teamFieldset {
  padding: 20px 10px;
  border: none;
  max-height: 50%;
  /* margin: 10%; */
}
.teamFieldset h3{
  margin: 0px;
  font-size: 24px;
}


/* Choose pokemon */
.choosePokemon h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}
/* whole form */
.cardForm {
  max-width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background: #eeeeee;
}

/* fieldset */
.cardFieldset {
  padding: 20px 10px;
  border: none;
}

.App h1{
  text-decoration: none;
  color: #444444;
}

/* title pics */
.parent {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.titlePics {
  object-fit: scale-down;
  width: 100%;
}
